<div id="vsre-editor-area"></div>

<script type="text/javascript">

{0}

</script>

<script type="text/javascript">
    var currentEditor;
    var reloadContent = function() {
        var editorArea = jQuery('#vsre-editor-area');
        editorArea.html('');

        var textArea = jQuery('<textarea></textarea>');
        textArea.appendTo(editorArea);
        
        currentEditor = CodeMirror.fromTextArea(textArea[0], {
            lineNumbers: true,
            mode: {1:json}
        });
    };

    jQuery(function() {
        reloadContent();
    });
</script>
