
    <nav class="navbar navbar-default navbar-fixed-bottom" id="vsre-footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-6 vsre-left">
            &copy; <a href="https://github.com/mkloubert/vs-remote-editor" target="_blank">Marcel Kloubert</a>
          </div>

          <div class="col-xs-6 vsre-right">
            <a href="https://flattr.com/submit/auto?fid=o62pkd&url=https%3A%2F%2Fgithub.com%2Fmkloubert%2Fvs-remote-editor" target="_blank">
              <img src="/?i=flattr.png" />
            </a>

            <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=74YKCZZXPCP64" target="_blank">
              <img src="/?i=paypal.svg" />
            </a>
          </div>
        </div>
      </div>
    </nav>

    {{ vsrmeditor::css }}

    {{ vsrmeditor::javascript }}
  </body>
</html>