    
    <div class="row">{{ vsrmeditor::breadcrumb }}</div>
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <div class="panel panel-default vsre-workspace-panel">
            <div class="panel-heading">
              <h3 class="panel-title">{{ vsrmeditor::workspace-title }}</h3>
            </div>
            
            <div class="panel-body">{{ vsrmeditor::workspace }}</div>
          </div>
        </div>

        <div class="col-xs-12 col-md-8">
