body {
    padding-bottom: 70px;
    padding-top: 70px;
}

#vsre-brand-image {
    float: left;
    height: 24px;
    width: 24px;
    position: relative;
    top: -1px;
}

.navbar-brand {
    span {
        float: left;
        margin-left: 12px;
    }
    span.vsre-not-connected {
        color: yellow;
        font-style: italic;
    }
}

#vsre-footer {
    .row  {
        .vsre-left {
            font-size: 0.70em;
            padding-top: 16px;
        }

        .vsre-right {
            img {
                float: right;
                margin-left: 8px;
                position: relative;
                top: 15px;
                height: 16px;
            }
        }
    }
}

.vsre-code-block {
    padding: 0;
    border: 0 none transparent;
    background-color: transparent;
}

.vsre-code-block code {
    padding: 0;
}

.vsre-code-panel { 
    .panel-body {
        background-color: #2b2b2b;
    }
}

.vsre-dir, .vsre-file, .vsre-parent-dir {
    .media-object {
        height: 32px;
        width: 32px;
    }
}

.vsre-workspace-item,
.vsre-workspace-item:hover {
    text-decoration: none;
}

.vsre-workspace-item {
    color: white;
}

.vsre-workspace-item:hover {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.vsre-workspace-item {
    .media {
        padding: 8px;

        .media-body {
            position: relative;
            top: 6px;
        }
    }
}

.vsre-workspace-item {
    .media.vsre-file:hover {
        background-color: #76c2af;
    }

    .media.vsre-dir:hover, .media.vsre-parent-dir:hover {
        background-color: #e0995e;
    }
}

.vsre-btn {
    .fa {
        margin-right: 8px;
    }
}

.vsre-code-panel {
    .panel-heading {
        color: white;
        text-decoration: none;

        a, a:hover {
            color: white;
            text-decoration: none;
        }
    }
}

.vsre-code-panel-dirty {
    .panel-heading {
        color: black;
        font-style: italic;
        font-weight: bold;
    }
}

#vsre-live-editor-link {
    a {
        .fa {
            margin-right: 8px;
        }
    }
}

#vsre-not-connected-icon {
    color: red;
    font-weight: bold;
}
